<div *ngIf="model">
    <form (ngSubmit)="save()" #form="ngForm">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" required disabled [(ngModel)]="model.personTypeId" name="personTypeId" />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required [(ngModel)]="model.name" name="name" #name="ngModel" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors?.['required']">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" required [(ngModel)]="model.description" name="description"
                #description="ngModel" />
            <div *ngIf="
            description.invalid && (description.dirty || description.touched)
          " class="alert alert-danger">
                <div *ngIf="description.errors?.['required']">
                    Description is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <!-- (click) passes input value to add() and then clears the input -->
            <button type="button" (click)="back()">Back</button>
            <button type="button" (click)="save()">Save</button>
        </div>
    </form>
</div>